$main-font-family: "Roboto", sans-serif;
$header-font-family: "Montserrat", sans-serif;
$logo-font-family: "Fredoka", sans-serif;
$logo-icon-color: #10d876;
$theme: #05f;
$error-color: #f32323;
$app-background-color: #e8f1fa;

$auth-button-text: #fff;
$auth-input-color: #eee;
$auth-button-bg: #343a40;
$auth-info-color: #adb5bd;

$navigation-bg-color: #fff;
$navigation-menuItem-bg-color: #f5f5f5;
$navigation-menuItem-color: #adb5bd;

$sidebar-width: 280px;
$sidebar-bg: #fff;
$sidebar-title-color: #adb5bd;

$gutter-gap: 15px;
$max-container-size: 1000px;

$settings-bg-color: #fff;
